<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="joinBox">
        <form action="/joinGame" method="POST" id="joinGameForm">
            <label for="joinUsername">Username</label>
            <input id="joinUsername" name="joinUsername" required />

            <label for="joinRoomID">Room ID</label>
            <input id="joinRoomID" name="joinRoomID" required />

            <label for="joinPassword">Game Password</label>
            <input id="joinPassword" name="joinPassword" required />

            <button type="submit" id="joinGameButton">Join Game</button>
        </form>
    </div>

    <div id="createBox">
        <form action="/createGame" method="POST" id="createGameForm">
            <label for="createUsername">Username</label>
            <input id="createUsername" name="createUsername" required />

            <label for="createPassword">Game Password</label>
            <input id="creatPassword" name="createPassword" required />

            <button type="submit" id="createGameButton">Create Game</button>
        </form>
    </div>
</body>

<style>
    #createBox, #joinBox {
    border: 5px solid black;
    padding: 20px;
    margin: 20px auto;
    width: 250px;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    }
</style>

</html>